(PYTHON STRUCTURE ....)

1Q..ANS  
      
    A data structure is a specialized format for organizing, storing, and managing data in a computer so that it can be accessed and used efficiently.
     They are fundamental components of computer science because they give form to abstract data points, allowing users and systems to efficiently organize, work with, and store data .
#importance..
...    Efficient Data Processing: Choosing the right data structure can make programs run faster and use less memory. They enable algorithms to run faster and consume fewer resources by optimizing data storage and access patterns .

2Q.ANS..
    üîÅ Mutable Data Types>>: Mutable objects can be changed after they are created. You can modify their content without changing their identity.

               
    #examples...
    
    my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

               
   #IMMUTABLE DATA TYPES..
           : Immutable objects cannot be changed after they are created. Any operation that seems to modify them will instead create a new object.
            
       #EXAMPLE..

       my_string = "hello"
new_string = my_string.replace("h", "j")
print(my_string)   # Output: "hello"
print(new_string)  # Output: "jello"

3Q.ANS..
      LISTS>>Defined using square brackets []	.
     
 TUPLES>>Defined using parentheses ()

4Q.ANS..
In Python, dictionaries are implemented using a data structure called a hash table, which allows for efficient storage and retrieval of key-value pairs.

#hasing the key..,,storing the entry..,memory optimization ..

5Q.ans..
In Python, both sets and lists are used to store collections of items, but they have distinct characteristics that make them suitable for different scenarios.

..list>>Maintains insertion order

..set>>Unordered

6Q.ANS..A string is a sequence of characters enclosed within single ('), double ("), or triple quotes (''' or """). It is used to represent textual data. AND A list is a mutable sequence that can hold a collection of items, which can be of varying data types. For example:

7Q.ANS..In Python, tuples are immutable sequences, meaning once created, their contents cannot be altered. This immutability plays a crucial role in ensuring data integrity within programs.
....HERE HOW...

           student_info = ("Alice", 20, ["Math", "Science"])
student_info[2].append("History")
print(student_info)  # Output: ('Alice', 20, ['Math', 'Science', 'History'])

8Q.ANS..A hash table is a data structure that maps keys to values using a hash function. This function computes an index (also known as a hash code) into an array of buckets or slots, from which the desired value can be found.

Python's dictionaries use open addressing with a technique called open addressing with quadratic probing to resolve collisions.

9Q.ANS..Yes, in Python, lists can contain elements of different data types. This flexibility is one of the key features of Python's list data structure.

10Q.ANS ..In Python, strings are immutable, meaning their content cannot be altered after they are created. This design choice offers several advantages in terms of performance, safety, and functionality.

11Q.ANS..In Python, dictionaries offer several advantages over lists for certain tasks, particularly when you need to associate unique keys with values and perform fast lookups..

12Q.ANS..In Python, tuples are preferable over lists in scenarios where data integrity, performance, and memory efficiency are paramount.

13Q.ANS..In Python, sets are collections that automatically handle duplicate values by storing only unique elements. This behavior is fundamental to their design and is achieved through the use of hashing.

14Q.ANS..Checks for Element Presence: When used with a list, in checks if a specific value exists as an element within the list.

python
Copy
Edit


When you use in with a dictionary, Python checks for the presence of a key in the dictionary. This operation is optimized using a hash table, allowing for faster lookups.

15Q.ANS..In Python, tuples are immutable, meaning that once a tuple is created, its elements cannot be changed, added, or removed. This immutability is a fundamental characteristic of tuples and is enforced by Python's design.

16Q.ANS..A nested dictionary is simply a dictionary within another dictionary. Each key in the outer dictionary maps to another dictionary, which can contain its own keys and values.

 EXAMPLE>>

 student_info = {
    'student1': {'name': 'Alice', 'age': 21, 'courses': ['Math', 'Science']},
    'student2': {'name': 'Bob', 'age': 22, 'courses': ['History', 'Art']},
}

17Q.ANS..üîç Time Complexity of Dictionary Access


Dictionaries use a hash table to map keys to values. When you access a value using a key (e.g., my_dict['key']), Python computes the hash of the key and directly accesses the corresponding bucket in the hash table. This allows for constant-time lookups on average.

18q.ans..In Python, lists and dictionaries serve different purposes, and choosing between them depends on the specific requirements of your task. Here are situations where lists are preferred over dictionaries:

..Ordered Collections: Use lists when the order of elements matters.

..Index-Based Access: If you need to access elements by their position, lists provide efficient O(1) time complexity for index-based retrieval.


..Allowing Duplicates: Lists can contain duplicate elements, which is useful when the same value may appear multiple times in your data.

19q.ans..In Python, dictionaries were traditionally considered unordered collections, meaning they did not maintain the order of items. This behavior was due to their underlying implementation using hash tables, which prioritize fast access over order.


...üîç Why Were Dictionaries Considered Unordered?

... dictionaries did not preserve the insertion order of keys. This means that when you iterated over a dictionary, the items could appear in any order, regardless of how they were added. This behavior stemmed from the use of hash tables, where the position of each key-value pair is determined by the hash of the key, not the insertion sequence.

20q.ans..In Python, lists and dictionaries are fundamental data structures, each optimized for specific data retrieval patterns. Understanding their differences is crucial for selecting the appropriate structure for your tasks.

PRACTICAL QUESTIONS..

1Q.ANS..

In [ ]:
my_name = 'anaya_rana'
print(my_name)

anaya_rana

2Q.ANS..

In [ ]:

my_string = "hello world"
length = len(my_string)
print("The length of the string is" ,length)

The length of the string is 11

3Q.ANS..

In [ ]:

text = "python programming"


first_three = text[:3]


print("The first 3 characters are:", first_three)

The first 3 characters are: pyt

4Q.ANS..

In [ ]:

text = "hello"

uppercase_text = text.upper()


print("Uppercase version:", uppercase_text)

Uppercase version: HELLO

5Q.ANS..

In [ ]:

text = "I LIKE THE APPLE"


new_text = text.replace("APPLE", "ORANGE")


print("Updated string:", new_text)

Updated string: I LIKE THE ORANGE

6Q.ANS..

In [ ]:

numbers = [1, 2, 3, 4, 5]


print("The list is:", numbers)

The list is: [1, 2, 3, 4, 5]

7Q.ANS..

In [ ]:

numbers = [1, 2, 3, 4]


numbers.append(10)


print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

8q.ans..

In [ ]:
numbers = [1,2,3,4]


numbers.remove(3)

print("updated list" , numbers)

updated list [1, 2, 4]

9q.ans..

In [ ]:

letters = ['a', 'b', 'c', 'd']

second_element = letters[1]


print("The second element is:", second_element)

The second element is: b

10q.ans..

In [ ]:

numbers = [10, 20, 30, 40, 50]


numbers.reverse()


print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

11Q.ANS..

In [1]:

my_tuple = (100, 200, 300)


print(my_tuple)

(100, 200, 300)

12Q.ANS..

In [2]:

colors = ('RED', 'GREEN', 'BLUE', 'YELLOW')


second_to_last = colors[-2]


print(second_to_last)

BLUE

13Q.ANS..

In [3]:

numbers = (10, 20, 5, 15)


minimum = min(numbers)


print(minimum)

5

14Q.ANS..

In [4]:
# Define the tuple
animals = ('DOG', 'CAT', 'RABBIT')

# Find the index of "CAT"
index_of_cat = animals.index('CAT')

# Print the result
print(index_of_cat)

1

15Q.ANS..

In [5]:
# Create a tuple with fruits
fruits = ('APPLE', 'BANANA', 'ORANGE')

# Check if "KIWI" is in the tuple
if 'KIWI' in fruits:
    print("KIWI is in the tuple.")
else:
    print("KIWI is not in the tuple.")

KIWI is not in the tuple.

16Q.ANS..

In [6]:
# Create a set
my_set = {'A', 'B', 'C'}

# Print the set
print(my_set)

{'C', 'B', 'A'}

17Q.ANS..

In [12]:
# Create the set
numbers = {1, 2, 3, 4, 5}

# Clear all elements from the set
numbers.clear()

# Print the empty set
print(numbers)

set()

18Q.ANS..

In [17]:
my_set = {1,2,3,4}

my_set.remove(4)

print(my_set)

{1, 2, 3}

19Q.ANS..

In [18]:
# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union
union_set = set1.union(set2)

# Print the result
print(union_set)

{1, 2, 3, 4, 5}

20Q.ANS..

In [19]:
# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection
intersection_set = set1.intersection(set2)

# Print the result
print(intersection_set)

{2, 3}

21Q.ANS..

In [26]:
# Create the dictionary
person_info = {
    'NAME': 'John Doe',
    'AGE': 30,
    'CITY': 'New York'
}

# Print the dictionary
print(person_info)

{'NAME': 'John Doe', 'AGE': 30, 'CITY': 'New York'}

22Q.ANS..

In [29]:
# Create the original dictionary
person = {'name': 'john', 'age': 25}

# Add the new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print(person)

{'name': 'john', 'age': 25, 'country': 'USA'}

23Q.ANS..

In [30]:
# Create the dictionary
person = {'NAME': 'ALICE', 'AGE': 30}

# Access the value associated with the key "NAME"
name_value = person['NAME']

# Print the result
print(name_value)

ALICE

24Q.ANS.

In [35]:
person = {'name': 'bob','age':22,'city':'new york'}

del person['age']

print(person)

{'name': 'bob', 'city': 'new york'}

25Q.ANS..

In [36]:
# Create the dictionary
person = {'name': 'alice', 'age': 22, 'city': 'new york'}

# Check if the key "city" exists in the dictionary
if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26Q.ANS..

In [37]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Create a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Print the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

27Q.ANS..

In [38]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print("Sorted List:", random_numbers)

Sorted List: [6, 10, 26, 28, 84]

28Q.ANS..

In [39]:
# Create a list with strings
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Print the element at the third index
print(my_list[3])

date

29Q.ANS..

In [40]:
# Create two dictionaries
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'New York', 'job': 'Engineer'}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print(combined_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'job': 'Engineer'}

30Q.ANS..

In [41]:
# Create a list of strings
my_list = ['apple', 'banana', 'cherry', 'apple', 'banana']

# Convert the list to a set
my_set = set(my_list)

# Print the result
print(my_set)

{'cherry', 'banana', 'apple'}

COMPLETED..THANKS